.job__headers {
  padding-bottom: 5px;
}

.jobs__job {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

.job__place {
  font-size: 25px;
  font-weight: lighter;
}

.job__title {
  font-style: italic;
  padding-bottom: 5px;
}

.job__name {
  font-style: italic;
  padding-bottom: 5px;
}
