.year-span__years {
  background: #a4a4a4;
  padding: 5px;
  font-weight: bold;
  min-width: 80px;
  color: #FFFFFF;
  text-align: center;
}

.year-span {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
